.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-control{
  width: 180px;
}

.CreateBook {
  display: flex;
  background-color: #0e3f7f;
  min-height: 100vh;
  color: white;
  justify-content: center;
  align-items: center;
  
}

.site-title{
  font-size: 2rem;
}

.nav ul{
  padding: 0;
  margin: 12;
  list-style: none;
  display:flex;
  gap: 1rem;
}


.nav {
  background-color:#003171;
  color: white;
  display:flex;
  justify-content:space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active{
  background-color:#e9eef4;
}

.nav li:hover{
  background-color: #003d8d;
  /* //#003d8d; */
}

.title{
  font-size: larger;
}

/* .resetbutton{
  color:white;
  background-color: white;
} */

.ShowBookDetails {
  background-color: #914792;
  min-height: 100vh;
  color: white;
}


.ShowBookList {
  background-color: #2c3e50;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100px;
  color: white;
}


/* BookList Styles */
.list {
  display: grid;
  margin: 20px 0 50px 0;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 2em;
}

.card-container {
  width: 250px;
  border: 1px solid rgba(0,0,.125);
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
}

.desc {
  height: 130px;
  padding: 10px;
}

.desc h2 {
  font-size: 1em;
  font-weight: 400;
}

.desc h3, p {
  font-weight: 300;
}

.desc h3 {
  color: #6c757d;
  font-size: 1em;
  padding: 10px 0 10px 0;
}